  .projectiles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
 
  .projectile {
    position: absolute;
    border-radius: 90%;
    animation: moveProjectile 3s linear infinite;
 
  }

    .score, .time-left {
    position: absolute;
    top: 10px;
    font-size: 25px;
    color: #000000;
    
  }
 
  .score {
    left: 10px;
  }

  #myElementJS {
    width: 50px;
    height: 50px;
    background-color: green;
    position: fixed;
    animation: linear infinite;
    top: 0;
    left: 50%;
}